<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-8 col-md-offset-2">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title text-center">Error 404! <i class="fa fa-frown-o pl-10"></i></h1>
        <div class="separator"></div>
        <!-- page-title end -->
        <p class="lead text-center">It looks like you have stumbled upon an unknown area!</p>
      </div>
      <!-- main end -->

    </div>
    <p class="text-center">

    </p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</section>